@import url("./variables.css");
@import url("./base.css");
@import url("./layout.css");
@import url("./panels.css");
@import url("./graph.css");
@import url("./details.css");
@import url("./menus.css");
@import url("./modals.css");
@import url("./components.css");
@import url("./stats.css");
@import url("./layers.css");